<lift:surround with=navigable at=content>
    <div class="row-fluid">
        <div class="span12">
            <p>
                AAAAAAAA
            </p>

            <div class="note">
                lift will look for templates in /webapp/templates-hidden by default
            </div>

            <p>
                BBBBBBBBBBBB
            </p>

            <div class="code">
                <code data-lift="CodeInjection?what=/guide-hidden/view/surround/default.html"></code>
            </div>

            <div class="code">
                <code data-lift="CodeInjection?what=/guide-hidden/view/surround/surround.html"></code>
            </div>

            <div class="code">
                <code data-lift="CodeInjection?what=/guide-hidden/view/surround/result.html;label=false"></code>
            </div>

        </div>
    </div>
</lift:surround>